@keyframes dou {
  0% {
    transform: rotate(0);
  }
  11% {
    transform: rotate(7.61deg);
  }
  23% {
    transform: rotate(-5.8deg);
  }
  36% {
    transform: rotate(3.35deg);
  }
  49% {
    transform: rotate(-1.9deg);
  }
  62% {
    transform: rotate(1.12deg);
  }
  75% {
    transform: rotate(-0.64deg);
  }
  88% {
    transform: rotate(0.37deg);
  }
  100% {
    transform: rotate(-0.28deg);
  }
}

.mr5 {
  margin-right: 5px;
}

.mr12 {
  margin-right: 12px;
}

.ml5 {
  margin-left: 5px;
}
.ml15 {
  margin-left: 15px;
}

.mt5 {
  margin-top: 5px;
}

.mt10 {
  margin-top: 10px;
}

.mt20 {
  margin-top: 20px;
}

.mb20 {
  margin-bottom: 20px;
}

.wd200 {
  width: 200px;
}

.fr {
  float: right;
}
